# Bootstrap
app/bootstrap*

# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
bin/

# Configuration files
App/Conf/parameters.ini
App/Conf/parameters.yml
App/Conf/conf.yml

.idea/

#SQL dumps
mysql/Dump*
mysql/*.bak

#Eclipse project
.project