td, th {
    padding: 5px;
}
h4 {
    margin-left: 50px;
}
body {
    background-attachment: fixed;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    /*background-size: 100% auto;*/
    background-position: center;
}
body nav {
}
body #container {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    position: relative;
    width: 1024px;
}

body #container h1 {
    font-family: "Century Gothic",CenturyGothic,Geneva,AppleGothic,sans-serif;
    font-size: 5em;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
body.accueil #container .loginForm {
    margin: 50px 0 0;
}
body.accueil #container .matchsAccueil {
    margin: 100px 0 0;
    padding: 0 0 50px;
}
body.accueil #container .matchsAccueil h3 {
    margin: 20px 20px 20px 100px;
}
body.accueil #container .bestPlayers h3 {
    margin: 0 0 30px;
    padding: 0;
}
body.accueil #container .bestPlayers table {
    margin: 0 auto;
}
body.accueil #container .bestPlayers table tr td, th {
    padding: 2px 5px;
    width: 80px;
}
body.accueil #container .first {
    padding: 2px 5px;
    width: 200px;
}
body.accueil #container .bestPlayers table tr:hover {
    background-color: #D1ECFF;
}
body.accueil #container .matchsAccueil table {
    margin: 0 auto;
}
body.accueil #container .matchsAccueil table tr td {
    padding: 10px;
}
body.accueil h2 {
    color: #D33EE5;
    font-family: "Century Gothic",CenturyGothic,Geneva,AppleGothic,sans-serif;
    font-size: 2em;
    margin: -20px 0 50px 50%;
    padding: 0;
    text-align: left;
    width: 50%;
}
body.accueil #container .summary {
    margin: 20px 0 0;
}
body.accueil #container .summary h3 {
    margin: 20px 20px 20px 0;
}
body.accueil #container .summary table {
    margin: 0;
}
body.accueil #container .summary table tr td {
    padding: 10px;
}
body.accueil #container .summary table tr td img {
    width: 20px;
}
body.accueil #container .summary .generalRank p {
    background-color: #DEA8DF;
    border-radius: 10px;
    height: 60px;
    line-height: 60px;
    margin: 0 0 0 30px;
    width: 60px;
    float : left;
    text-align: center;
}
body.accueil #container .summary .generalRank p span {
    font-size: 3em;
    margin-left: 10px;
}
body.accueil #container .matchsAccueil {
    margin: 100px 0 0;
    padding: 0 0 50px;
}
body.accueil #container .matchsAccueil h3 {
    margin: 20px 20px 20px 100px;
}
body.accueil #container .matchsAccueil table {
    margin: 0 auto;
}
body.accueil #container .matchsAccueil table tr td {
    padding: 10px;
}
body.pool #container .playersInfos {
    margin: 100px 0 0;
    padding: 0 0 50px;
}
body.pool #container .playersInfos h3 {
    margin: 20px 20px 20px 100px;
}
body.pool #container .playersInfos table {
    line-height: 30px;
    margin: 20px 20px 20px 100px;
}
body.pool #container .playersInfos table tr:hover {
    background-color: #D1ECFF;
}
body.pool #container .playersInfos table tr td {
    width: 150px;
    padding : 0;
}
body.pool #container .groupe {
    margin: 100px 0 0;
    padding: 0 0 50px;
}
body.pool #container h3 {
    margin: 20px 20px 20px 100px;
}
body.pool #container .groupe table {
    line-height: 40px;
    margin: 20px 20px 20px 100px;
}
body.pool #container .groupe table tr:hover {
    background-color: #D1ECFF;
}
body.pool #container .groupe table tr td {
    width: 150px;
    padding : 0;
}
body.competitions #container .myCompetitionsIntro p {
    margin: 20px 0 20px 80px;
}
body.competitions #container .myCompetitionsIntro a {
    float: right;
    margin-right: 30px;
}
body.competitions #container .myCompetitionsList h3 {
    margin: 20px 0 20px 80px;
}
body.competitions #container .compet:hover {
    background-color: #D1ECFF;
}
body.competitions #container .compet .name {
    text-align: left;
}
body.competitions #container .compet .link {
    text-align: right;
}
body.competitions #container .otherCompetitionsList h3 {
    margin: 20px 0 20px 80px;
}
body.competitions #container .addCompetition h3 {
    margin: 20px 0 20px 80px;
}
body.competitions #container .addCompetition {
    padding-bottom: 30px;
}
body.pronostics #container .match {
    padding-bottom: 30px;
}
body.pronostics #container .match .matchForm tr td {
    width: 90px;
    text-align: center;
}
body.pronostics #container .match .matchForm tr td.int {
    text-align: left;
}
body.pronostics #container .match .matchForm tr td.ext {
    text-align: right;
}
body.pronostics #container .match .matchForm h4 {
    color: #3160BF;
    font-size: 1em;
}
body.pronostics #container .saveButton {
    padding-bottom: 50px;
}
body.register #container .registerForm {
    margin: 50px 0 0;
}
body.register #container .registerForm button {
    margin: 50px 0;
}

/**********************************************************
**************** CSS FLASH MESSAGE **********************/
/* tableau du message d'erreur */
div.message {
    margin: 0 auto; /* alignement (centrer) */
    width:100%; /* dimension */
    margin-bottom:10px; /* marge en dessous du tableau */
    border-radius: 15px;
    padding-left:15px; /* décallage du texte pour éviter la superposition du texte sur l'images */
    height:32px; /* hauteur de la cellule */
    font-weight:bold; /* text en gras */
}

div.message p{
    margin-top : 5px;
    padding-left : 35px;
    height : 24px;
    border-radius: 15px;
}

div.error{
    border:1px solid #f46767; 
    background:#FFBABA; 
    color : #D8000C;
}
     
div.error p{
    background:#FFBABA url('../img/error.png') no-repeat;
}

div.success{
    border:1px solid #9F6000; 
    background:#FEEFB3; 
    color : #9F6000;
}
     
div.success p{
    background:#FEEFB3 url('../img/icon_check.png') no-repeat;
}
.placeholder
{
  color: #aaa;
}


@media screen and (max-heigh: 650px) {
    body #container {
        margin: 0 auto 40px auto;
    }
}

