/* 
    Document   : style
    Created on : 2 avr. 2014, 09:29:11
    Author     : n.penloup
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    width : 1024px;
    margin: 0 auto;
    background: #16A857;
}

table td {
    padding : 2px;
}

nav {
    background-color: #FFFFFF;
    background-repeat: repeat-y;
}


    
section#content {
    margin-top : 50px;
    background-color: #FFFFFF;
    min-height: 600px;
    padding: 20px;
    width: 1024px;
}

/************************************************
********* FORM REGISTER ************************/

div#register for, div#content form {
    width : 90%;
    margin-left : 5%;
}

div#register form div{
    margin-bottom : 10px;
}

div#register form label, div#content form label {
    text-align : left;
    width : 200px;
}
div#register form input, div#content form input {
    width : 250px;
}
div#register form input[type=submit], div#content form input[type=submit], div#content div.date {
    margin-left : 24%;
}
div#register form div ul {
    height: 30px;
    margin: 0 auto;
    padding: 0;
    width: 350px;
    float : right;
    
}

div#register form div ul li{
    color: red;
    float: left;
    height: auto;
    list-style: none outside none;
    margin: 0;
    font-size: 11px;
    padding: 0;
}

/************************************************
********* FORM LOGIN ************************/

div#login form {
    width : 90%;
    margin-left : 25%;
    margin-top : 50px;
}

div#login form div {
    margin-bottom : 10px;
}

div#login form label {
    text-align : left;
    width : 200px;
}
div#login form input {
    width : 150px;
}
div#login form input[type=submit] {
    margin-left : 200px;
}

/**********************************************************
**************** CSS FLASH MESSAGE **********************/
/* tableau du message d'erreur */
div.message {
    margin: 0 auto; /* alignement (centrer) */
    width:100%; /* dimension */
    margin-bottom:10px; /* marge en dessous du tableau */
    border-radius: 15px;
    padding-left:15px; /* décallage du texte pour éviter la superposition du texte sur l'images */
    height:32px; /* hauteur de la cellule */
    font-weight:bold; /* text en gras */
}

div.message p{
    margin-top : 5px;
    padding-left : 35px;
    height : 24px;
    border-radius: 15px;
}

div.error{
    border:1px solid #f46767; 
    background:#FFBABA; 
    color : #D8000C;
}
     
div.error p{
    background:#FFBABA url('../img/error.png') no-repeat;
}

div.success{
    border:1px solid #9F6000; 
    background:#FEEFB3; 
    color : #9F6000;
}
     
div.success p{
    background:#FEEFB3 url('../img/icon-_check.png') no-repeat;
}