{% extends layout %}

{% block body %}
<div id="content">

    <legend>{% trans %} matchs list {% endtrans %}</legend>
    <table>
    {% for match in matchs %}
        <tr>
            <td>{{match.date|date('j/m/Y h:m')}}</td> 
            <td>{{match.stadium}}</td> 
        {% for team in match.teams %}
            <td>{{team.idteams.countries.nameFr}}</td> 
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    
</div>
{% endblock %}