{% extends layout %}
{% block bodyClass %}competitions{% endblock %}
{% block body %}
<div id="content">


    
    {{ render(url('tournament.mytournaments'))}}

    <div class="row otherCompetitionsList">
        <h3>{% trans %} tournaments list {% endtrans %} :</h3>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% for tournament in tournaments %}
            <div class="row compet">
                <div class="col-md-6 name">{{tournament.name}}</div>
                <div class="col-md-6 link">
                    <a href="{{path('tournament.join', { idTournament : tournament.idTournament } )}}">{% trans %}join{% endtrans %}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row addCompetition">
        <h3>{% trans %} new tournament {% endtrans %}</h3>
        <div class="col-md-1"></div>
        {{ render(url('tournament.add')) }}
    </div>
</div>
{% endblock %}