{% extends layout %}
{% block bodyClass %}register{% endblock %}
{% block body %}
<div class="row registerForm">
{% include 'form/account.twig' with {'form': registrationForm, 'action': path('user.doupdateaccount')} only %}
</div>
{% endblock %}