{% extends layout %}

{% block body %}
<div id="content">
    <h3>FBT</h3>

    
    {% if is_granted('ROLE_USER') %}
    <p>{% trans %}welcome{% endtrans %} {{ app.security.token.user.username }} !</p>
    {% endif %}
</div>
{% endblock %}