{% extends layout %}

{% block body %}
<div id="content">
    <h1>Pronostics</h1>

    
    {% if is_granted('ROLE_USER') %}
        
    {% else %}
        {{ render(url('login'))}}
    {% endif %}
</div>
{% endblock %}