{% extends layout %}

{% block body %}
<div id="content">
    <h3>Bienvenue</h3>

    
    {% if is_granted('ROLE_USER') %}
    <p>Bienvenue {{ app.security.token.user.username }} !</p>
    {% endif %}
</div>
{% endblock %}